# WordPress core (do not track)
wp-admin/
wp-includes/
license.txt
readme.html
wp-config.php

# Uploads and temp content
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# Ignore all themes except our child theme
wp-content/themes/*
!wp-content/themes/musicalbum-child/
!wp-content/themes/musicalbum-child/**

# Ignore all plugins except our integrations plugin
wp-content/plugins/*
!wp-content/plugins/musicalbum-integrations/
!wp-content/plugins/musicalbum-integrations/**

# Optional: mu-plugins (track selectively)
wp-content/mu-plugins/*

# Misc and environment
node_modules/
vendor/
*.log
.env
.DS_Store
Thumbs.db